// OTHER
$bodyWidth: 100vw
$bodyWidthLarge: 1440px
$minRes: 320px
$difMaxMinRes: 1120

// COLOR
$text-color: #e0e1dd
$text-color2: #d60000
$text-color3: #27c500
$background-color: #000814

// .title
$titleFontMin: 18px
$titleFontDiff: 12

// .descr
$descrFontMin: 11px
$descrFontDiff: 5

// .list__item
$listFontMin: 12px
$listFontDiff: 5

// .popup__content
$popupGapMin: 60px
$popupGapDiff: 60

// .popup__button
$popupButtonFontMin: 14px
$popupButtonFontDiff: 4