@import ./_variables
@import ./_reboot

/// BLOCKS START ///
.container
    max-width: 1220px
    margin: 0 auto
    box-sizing: content-box
    padding: 0 15px
@media ( max-width: 992px )
    .container
        max-width: 900px
@media ( max-width: 768px )
    .container
        max-width: 685px
@media ( max-width: 576px )
    .container
        max-width: 500px

.screen
    position: fixed
    width: 100%
    left: 50%
    transform: translateX(-50%)
    padding: 60px 0
    z-index: 1
    transition: 500ms all

.hide
    top: 0
    left: -100%

.main
    display: flex
    padding: 15px
    height: 100%
    min-height: 600px
    flex-direction: column
    align-items: center
    justify-content: space-around
    border: 2px solid #fff
    border-radius: 5px
    &__desc
        min-height: 320px
        padding: 10px
        border: 2px solid #fff
        border-radius: 5px
        text-align: center
    &__choose
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        gap: 20px
    .choose
        &__option
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            gap: 20px
        .option
            &__btn
                width: 80%
                height: 60px
                border: 2px solid #fff
                border-radius: 20px
                background: transparent
            &__info
                background: transparent

.close-btn
    position: absolute
    padding: 12px
    top: 10px
    right: 10px
    background: transparent
    transition: 500ms all
    cursor: pointer
    &::after, &::before
        content: ''
        display: block
        position: absolute
        top: 10px
        left: 0
        width: 20px
        height: 2px   
        background: #e0e1dd
        transform: rotate(45deg)
    &::before
        transform: rotate(-45deg)
    &:hover, &:active
        transform: scale(1.1)

.popup
    position: fixed
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    top: -100%
    left: 0
    transition: 500ms all
    z-index: 2
    &__content
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-evenly
        padding: 15px
        width: 400px
        min-height: 400px
        border: 2px solid #fff
        border-radius: 5px
        background: $background-color
        z-index: 2
    .content
        &__desc
            text-align: center
    .overlay
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.6)
        z-index: 1
.show-popup
    top: 0


/// BLOCKS END ///